# dependencies
/node_modules
/dist
/.idea
.history

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
